@import "@/assets/font-awesome-4.7.0/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
}
// ::-webkit-scrollbar {
//   display: none;
//   }

li {
  list-style: none;
}
a {
  color: rgb(178, 173, 164);
  text-decoration: none;
}
a:active,
a:visited,
a:hover {
  outline: none;
  color: #b2ada4;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: none;
}
.unexpend a:focus {
  background: none;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.1s ease;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
input{
  border: 1px solid #ccc;
  padding-left: 5px;
}
// login css
.box {
  width: 500px;
  margin: 100px auto;
  padding-top: 10px;
  box-shadow: 0px 0px 10px #ccc;
}
.successBox {
  display: flex;
  justify-content: center;
}
#tittle h2 {
  margin-bottom: 30px;
}
.box .bottom_link {
  text-align: right;
  padding-right: 8px;
  padding-bottom: 6px;
}
.input_box {
  text-align: center;
  width: 100%;
  border-radius: 5px;
}
// label{
//   margin:0;
//   flex-grow:1;
//   text-align: right;
// }
// input {
//   align-self: center;
//   outline: none;
//   height: 34px;
//   width: 100%;
//   padding-left: 10px;
//   border-radius: 5px;
// }
// textarea{
//   width: 400px;
//   border-radius: 5px;
// }
.button_login {
  font-size: 22px;
  width: 280px;
  height: 40px;
  color: rgb(60, 141, 188);
  background-color: rgb(213, 223, 228);
  border-radius: 20px;
  align-self: center;
  outline: none;
}
.button_login:hover {
  color: #fff;
  background-color: rgb(60, 141, 188);
}
.error_box {
  color: red;
}

// container-example 公用
.example {
  // width: 410px;
  position: relative;
  flex-grow: 1;
  border-radius: 5px;
  // width: 100%;
  // padding-top: 100px;
  padding-left: 10px;
  // li.active,
  // tr.active {
  //   background-color: blanchedalmond;
  // }
  li.active,
  tr.active {
    background-color: #e6e9ed;
  }
  .inputBox {
    position: relative;
    width: 100%;
    cursor: text;
    .divBox {
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px;
      // padding-right: 33px;
      overflow: hidden;
      > span {
        float: left;
        color: #333;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 26px;
        margin: 3px 2px;
        padding: 0 0.25em;
        line-height: 24px;
      }
      i {
        cursor: pointer;
      }
      input {
        float: left;
        border: 0;
        outline: none;
        &:focus .divBox {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        }
      }
    }

    .readonly {
      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
    }
  }
}
.componentDiv {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  select {
    height: 34px;
  }
}

input:focus,
textarea:focus {
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  border-color: #ccc !important;
}

.form-group {
  display: flex;
}

.example {
  span {
    line-height: 1.1;
    position: relative;
  }
  span .fa {
    position: relative;
    right: 0;
    top: 0;
  }
  span.i-container {
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #ccc;
    min-width: 33px;
    height: 34px;
    padding: 9px 9px;
    color: #333;
    background: #fff;
  }
  span.i-container i {
    color: #333;
  }
  span.i-container i.select {
    color: #333;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  // .fa {
  //   position: absolute;
  //   right: 0px;
  //   top: 0px;
  //   border-top-right-radius: 5px;
  //   border-bottom-right-radius: 5px;
  //   border: solid 1px #ccc;
  // }
  // i {
  //   min-width: 33px;
  //   height:34px;
  //   padding: 9px 9px;
  //   color: #333;
  //   background: #FFF;
  // }
  // i.select{
  //   color: #333;
  //   background: #fff;
  //   border-top-right-radius: 5px;
  //   border-bottom-right-radius: 5px;
  // }
}
p {
  margin:0;
  padding: 0;
}
label {
  margin: 0;
  width: 100%;
  font-weight:normal;
  p {
    display: flex;
    padding-right: 90px;
    span {
      text-align: right;
      flex: 4;
    }
    input {
      flex: 8;
      margin-left:5px;
    }
  }
}
.language {
  margin-left: 10px;
  text-align: left;
  a:hover {
    text-decoration: none;
  }
  a:focus {
    background: none;
    outline: none;
  }
  a.active {
    color: #000;
  }
}
.button {
  text-align: center;
  margin-top: 10px;
}
// basebtn
.basebtn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.basebtn:active {
  background-color: rgb(22, 168, 240);
  outline: none;
  color: white;
}
.basebtn:focus {
  outline: none;
}